/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
velmas19lite.sublime-project
velmas19lite.sublime-workspace
npm-debug.log
yarn-error.log
