/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

main{
    position: relative;
}

#footer {position: relative;background-color: #8071b9;border-top: 5px solid rgba(0,0,0,.2);}
#header:not(.sticky-header) #primary-menu > ul > li.menu-item-emphasis > a {background-color: #412da4;color:#ffffff;text-shadow: none;}
#copyrights {      
    background-color: #412da4;
    color:#ffffff;
    font-size: 14px;
    line-height: 1.8;
}
#copyrights > .copys {
    padding: 20px 0;       
    background-color: #412da4;
    color:#ffffff;
    font-size: 14px;
    line-height: 1.8;
}
#copyrights a{   
color:#ffffff;
font-size: 14px;
line-height: 1.8;
}
.copys > .col-lg-6{float:left;}
.footer-widgets-wrap p{color:#ffffff;}
.widget_links h4{color: #ffffff;}
.widget.widget_links.app_landing_widget_link li a{color: #ffffff;}
.widget>.row>.col-lg-8>img{max-width:50%;margin-left:auto;margin-right:auto;}
h2.titulos{color:#412da4;}
p>strong{color:#412da4}
.bg-info {
    background-color: #412da4 !important;
}
.flip-card-inner { padding: 1.0rem!important;}

.variable{
    font-weight: bold;
}

.errorMsg{
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    right: 0;
    width: 100%;   
    z-index: 100;
}
    .errorMsg ul{
        display: block;
        margin: 0;
        padding: 0;
    }
        .errorMsg ul li{
            background-color: #DD6666;
            border-bottom: 1px solid #EEE;
            color: #FFF;
            display: block;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
            padding: 12px 0;
            text-align: center;
        }

.strip{
    background-color: #f5f5f5;
    padding: 40px 0;
}
    .strip h2{
        margin-bottom: 0;
    }
        .strip h2 span{
            color: #555 !important;
            float: right;
            font-size: 12px;
            line-height: 46px;
        }
            .strip h2 span a{
                color: #555 !important;
            }

.btn-banner-home{
    background-color: #62005a;
    border-radius: 12px;
    color: #cac7ca;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
}

.invalid-feedback{
    display: block !important;
}




